# Data_Clean_computrabajo

In [1]:
import pandas as pd 
import numpy as np
import re
import matplotlib.pyplot as plt
from wordcloud import WordCloud
import nltk
from nltk.corpus import stopwords
from collections import Counter
from wordcloud import STOPWORDS
import spacy
# Descargar stopwords si no las tienes
nltk.download('stopwords')

# Cargar modelo spaCy español
nlp = spacy.load('es_core_news_sm')
stopwords_es = set(stopwords.words('spanish'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\John\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Cargaremos y eliminaremos las ofertas duplicadas, debido a que los postulantes suelen renovar estás ofertas, y por buenas prácticas dejaremos el URL cómo primary key (aunque no manejaremos datos cruzados).

In [2]:
df = pd.read_csv("../data/ofertas_computrabajo.csv")

# Normaliza nombres de columnas a minúsculas si fuera necesario
df.columns = df.columns.str.lower()

# Mover la columna 'url' al inicio
columnas = ["url"] + [col for col in df.columns if col != "url"]

# Eliminar duplicados
df = df.drop_duplicates(subset=["title", "company", "rating", "location", "salary", 
                                "contract", "schedule", "description", "education", 
                                "experience", "age", "skills"], keep="first")

df = df[columnas]

df.head(5)

,url,title,company,rating,location,salary,contract,schedule,description,education,experience,age,skills
0,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de programación y datos - Medellín,Empleamos Temporales SAS,"4,45","Medellín, Antioquia",A convenir,Contrato de Obra o labor,Tiempo Completo,¡Estamos buscando talento en programación y an...,Universidad / Carrera tecnológica,1 año de experiencia,No disponible,No disponible
1,https://co.computrabajo.com/ofertas-de-trabajo...,Analista Operaciones / Analista de datos,Corporación Interactuar,No disponible,"Bello, Antioquia",A convenir,Contrato a término indefinido,Tiempo Completo,Si eres un apasionado por el análisis de datos...,Universidad / Carrera Profesional,No disponible,No disponible,No disponible
2,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de datos / Analista BI // Manejo de i...,BRM S.A.S,"4,24","Medellín, Antioquia","$ 4.000.000,00 (Mensual)",Contrato a término indefinido,Tiempo Completo,"¿Eres un detective de datos nato, capaz de enc...",Universidad / Carrera Profesional,2 años de experiencia,A partir de 18 años,No disponible
3,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de datos,Alianza Temporal S.A.S,"4,31","Bogotá, D.C., Bogotá, D.C.","$ 2.000.000,00 (Mensual)",Contrato de Obra o labor,Tiempo Completo,Importante empresa del sector logistica y tran...,Universidad / Carrera Profesional,3 años de experiencia,No disponible,No disponible
4,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de datos / Experiencia en facturación...,BRM S.A.S,"4,24","Bogotá, D.C., Bogotá, D.C.","$ 2.500.000,00 (Mensual)",Contrato a término indefinido,Tiempo Completo,¿Eres un gurú de los datos financieros con una...,Universidad / Carrera técnica,1 año de experiencia,A partir de 18 años,No disponible

### Clean_description

In [3]:
nlp = spacy.load('es_core_news_sm')

def normalizar_y_lematizar(texto):
    if pd.isna(texto):
        return texto

    # Conservar signos útiles: $, : , . y números
    texto = re.sub(r"[^a-zA-Z0-9áéíóúÁÉÍÓÚñÑ\s$:.,]", "", texto)
    
    # Procesar con spaCy
    doc = nlp(texto)

    lemas = []
    for token in doc:
        if token.is_space:
            continue
        if token.is_stop and not token.like_num:
            continue
        lemas.append(token.lemma_)

    return " ".join(lemas)

In [4]:
df['description'] = df['description'].apply(normalizar_y_lematizar)

### Clean_rating

In [5]:
# Reemplazar comas por puntos y convertir a numérico
df["rating"] = df["rating"].astype(str).str.replace(",", ".", regex=False)
df["rating"] = pd.to_numeric(df["rating"], errors="coerce")
df.head(5)

,url,title,company,rating,location,salary,contract,schedule,description,education,experience,age,skills
0,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de programación y datos - Medellín,Empleamos Temporales SAS,4.45,"Medellín, Antioquia",A convenir,Contrato de Obra o labor,Tiempo Completo,buscar talento programación análisis datosempl...,Universidad / Carrera tecnológica,1 año de experiencia,No disponible,No disponible
1,https://co.computrabajo.com/ofertas-de-trabajo...,Analista Operaciones / Analista de datos,Corporación Interactuar,NaN,"Bello, Antioquia",A convenir,Contrato a término indefinido,Tiempo Completo,"apasionado análisis dato , oferta corporación ...",Universidad / Carrera Profesional,No disponible,No disponible,No disponible
2,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de datos / Analista BI // Manejo de i...,BRM S.A.S,4.24,"Medellín, Antioquia","$ 4.000.000,00 (Mensual)",Contrato a término indefinido,Tiempo Completo,"detective dato nato , capaz encontrar aguja co...",Universidad / Carrera Profesional,2 años de experiencia,A partir de 18 años,No disponible
3,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de datos,Alianza Temporal S.A.S,4.31,"Bogotá, D.C., Bogotá, D.C.","$ 2.000.000,00 (Mensual)",Contrato de Obra o labor,Tiempo Completo,importante empresa sector logistico transporte...,Universidad / Carrera Profesional,3 años de experiencia,No disponible,No disponible
4,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de datos / Experiencia en facturación...,BRM S.A.S,4.24,"Bogotá, D.C., Bogotá, D.C.","$ 2.500.000,00 (Mensual)",Contrato a término indefinido,Tiempo Completo,gurú dato financiero obsesión exactitud factur...,Universidad / Carrera técnica,1 año de experiencia,A partir de 18 años,No disponible

## Clean Location

In [6]:
# Eliminar espacios en blanco alrededor de los valores 
df["location"] = df["location"].str.strip()

# Separar la columna en "city" y "department" usando la última coma como separador
df[["city", "department"]] = df["location"].str.rsplit(", ", n=1, expand=True)

# Manejar caso especial de "Bogotá, D.C., Bogotá, D.C."
df.loc[df["location"] == "Bogotá, D.C., Bogotá, D.C.", ["city", "department"]] = ["Bogotá, D.C.", "Bogotá, D.C."]

# Si department es nulo o vacío, asignarle el valor de city
df["department"] = df["department"].fillna(df["city"])  # Para valores NaN
df.loc[df["department"].str.strip() == "", "department"] = df["city"]  # Para valores vacíos
df['city'] = df['city'].replace({
    'San Andres, Archipíelago De San Andrés': 'San Andrés',
    'Siberia': 'Cota' 
})


# Eliminar la columna location
df.drop(columns=["location"], inplace=True)

# Verificar resultado
df.head(3)

,url,title,company,rating,salary,contract,schedule,description,education,experience,age,skills,city,department
0,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de programación y datos - Medellín,Empleamos Temporales SAS,4.45,A convenir,Contrato de Obra o labor,Tiempo Completo,buscar talento programación análisis datosempl...,Universidad / Carrera tecnológica,1 año de experiencia,No disponible,No disponible,Medellín,Antioquia
1,https://co.computrabajo.com/ofertas-de-trabajo...,Analista Operaciones / Analista de datos,Corporación Interactuar,NaN,A convenir,Contrato a término indefinido,Tiempo Completo,"apasionado análisis dato , oferta corporación ...",Universidad / Carrera Profesional,No disponible,No disponible,No disponible,Bello,Antioquia
2,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de datos / Analista BI // Manejo de i...,BRM S.A.S,4.24,"$ 4.000.000,00 (Mensual)",Contrato a término indefinido,Tiempo Completo,"detective dato nato , capaz encontrar aguja co...",Universidad / Carrera Profesional,2 años de experiencia,A partir de 18 años,No disponible,Medellín,Antioquia

## Clean Salary

In [7]:
conteo_ciudades = df['salary'].value_counts().sort_values(ascending=False).reset_index()
conteo_ciudades.columns = ['salary', 'frecuencia']
pd.set_option('display.max_rows', None)  # Muestra todas las filas
print(conteo_ciudades)

                        salary  frecuencia
0                   A convenir         546
1     $ 1.423.500,00 (Mensual)         148
2     $ 2.000.000,00 (Mensual)          84
3     $ 1.800.000,00 (Mensual)          59
4     $ 2.500.000,00 (Mensual)          52
5     $ 1.500.000,00 (Mensual)          52
6     $ 3.000.000,00 (Mensual)          50
7     $ 4.000.000,00 (Mensual)          25
8     $ 3.500.000,00 (Mensual)          24
9     $ 2.200.000,00 (Mensual)          22
10    $ 1.600.000,00 (Mensual)          21
11    $ 1.300.000,00 (Mensual)          16
12    $ 1.700.000,00 (Mensual)          16
13    $ 2.300.000,00 (Mensual)          16
14    $ 2.600.000,00 (Mensual)          15
15    $ 1.900.000,00 (Mensual)          13
16    $ 2.800.000,00 (Mensual)          13
17    $ 1.423.000,00 (Mensual)          10
18    $ 2.700.000,00 (Mensual)           9
19    $ 5.000.000,00 (Mensual)           9
20    $ 3.300.000,00 (Mensual)           9
21    $ 3.200.000,00 (Mensual)           9
22    $ 2.100.000,00 (Mensual)           8
23    $ 2.400.000,00 (Mensual)           8
24    $ 1.935.000,00 (Mensual)           7
25    $ 4.300.000,00 (Mensual)           6
26    $ 3.274.000,00 (Mensual)           6
27    $ 1.623.500,00 (Mensual)           5
28    $ 1.452.000,00 (Mensual)           5
29    $ 1.885.000,00 (Mensual)           5
30    $ 3.800.000,00 (Mensual)           5
31    $ 3.600.000,00 (Mensual)           4
32    $ 2.880.000,00 (Mensual)           4
33    $ 4.500.000,00 (Mensual)           4
34    $ 3.476.000,00 (Mensual)           3
35    $ 1.680.000,00 (Mensual)           3
36    $ 3.011.000,00 (Mensual)           3
37    $ 1.550.000,00 (Mensual)           3
38    $ 2.662.973,00 (Mensual)           3
39    $ 1.400.000,00 (Mensual)           3
40    $ 1.855.000,00 (Mensual)           3
41    $ 1.836.000,00 (Mensual)           3
42    $ 2.291.000,00 (Mensual)           3
43    $ 3.100.000,00 (Mensual)           3
44    $ 2.540.000,00 (Mensual)           3
45    $ 1.425.000,00 (Mensual)           3
46    $ 2.029.890,00 (Mensual)           3
47    $ 1.980.000,00 (Mensual)           3
48    $ 2.250.000,00 (Mensual)           2
49    $ 1.667.000,00 (Mensual)           2
50    $ 2.499.998,00 (Mensual)           2
51    $ 4.400.000,00 (Mensual)           2
52    $ 1.494.675,00 (Mensual)           2
53    $ 7.000.000,00 (Mensual)           2
54    $ 5.093.000,00 (Mensual)           2
55    $ 1.950.000,00 (Mensual)           2
56    $ 2.900.000,00 (Mensual)           2
57    $ 1.520.812,00 (Mensual)           2
58    $ 4.067.481,00 (Mensual)           2
59    $ 1.750.000,00 (Mensual)           2
60    $ 1.609.000,00 (Mensual)           2
61    $ 1.788.000,00 (Mensual)           2
62    $ 3.086.512,00 (Mensual)           2
63    $ 1.695.000,00 (Mensual)           2
64    $ 2.065.229,00 (Mensual)           2
65    $ 6.000.000,00 (Mensual)           2
66    $ 1.594.500,00 (Mensual)           2
67    $ 3.309.000,00 (Mensual)           2
68    $ 2.362.796,00 (Mensual)           2
69    $ 1.650.000,00 (Mensual)           2
70    $ 1.949.000,00 (Mensual)           2
71   $ 13.000.000,00 (Mensual)           2
72    $ 1.589.000,00 (Mensual)           2
73    $ 2.379.375,00 (Mensual)           2
74    $ 4.100.000,00 (Mensual)           2
75    $ 2.150.000,00 (Mensual)           2
76    $ 2.112.842,00 (Mensual)           2
77    $ 1.999.000,00 (Mensual)           2
78    $ 3.400.000,00 (Mensual)           2
79    $ 4.020.000,00 (Mensual)           2
80    $ 2.570.000,00 (Mensual)           2
81    $ 4.169.000,00 (Mensual)           2
82    $ 2.707.450,00 (Mensual)           2
83    $ 2.650.000,00 (Mensual)           2
84    $ 1.735.800,00 (Mensual)           1
85    $ 2.548.429,00 (Mensual)           1
86    $ 2.129.400,00 (Mensual)           1
87    $ 2.838.000,00 (Mensual)           1
88    $ 3.018.170,00 (Mensual)           1
89    $ 8.898.000,00 (Mensual)           1
90      $ 295.000,00 (Mensual)           1
91    $ 2.945.000,00 (Mensual)           1
92    $ 1.468.000,00 (Mensual)           1
93    $ 1.623.000,00 (Mensual)           1
94    $ 7.500.000,00 (Mensual)           1
95      $ 610.160,00 (Mensual)           1
96    $ 1.521.000,00 (Mensual)           1
97    $ 1.432.000,00 (Mensual)           1
98    $ 4.602.800,00 (Mensual)           1
99    $ 2.230.000,00 (Mensual)           1
100   $ 3.300.001,00 (Mensual)           1
101   $ 8.000.000,00 (Mensual)           1
102   $ 4.303.000,00 (Mensual)           1
103   $ 2.949.000,00 (Mensual)           1
104   $ 3.073.488,00 (Mensual)           1
105   $ 2.040.000,00 (Mensual)           1
106   $ 5.319.000,00 (Mensual)           1
107   $ 1.803.000,00 (Mensual)           1
108   $ 2.317.787,00 (Mensual)           1
109   $ 2.257.000,00 (Mensual)           1
110   $ 2.447.000,00 (Mensual)           1
111   $ 2.457.000,00 (Mensual)           1
112   $ 7.300.000,00 (Mensual)           1
113   $ 3.139.500,00 (Mensual)           1
114   $ 1.781.099,00 (Mensual)           1
115   $ 2.504.679,00 (Mensual)           1
116   $ 2.634.000,00 (Mensual)           1
117   $ 1.784.000,00 (Mensual)           1
118   $ 1.450.000,00 (Mensual)           1
119   $ 1.566.000,00 (Mensual)           1
120   $ 2.799.000,00 (Mensual)           1
121   $ 2.226.757,00 (Mensual)           1
122   $ 2.847.500,00 (Mensual)           1
123   $ 1.530.000,00 (Mensual)           1
124   $ 1.676.500,00 (Mensual)           1
125   $ 4.299.999,00 (Mensual)           1
126   $ 3.103.989,00 (Mensual)           1
127   $ 2.330.000,00 (Mensual)           1
128   $ 2.799.999,00 (Mensual)           1
129   $ 3.380.000,00 (Mensual)           1
130   $ 2.268.000,00 (Mensual)           1
131   $ 6.533.526,00 (Mensual)           1
132   $ 3.397.000,00 (Mensual)           1
133   $ 2.365.000,00 (Mensual)           1
134   $ 4.999.999,00 (Mensual)           1
135   $ 1.783.855,00 (Mensual)           1
136   $ 2.545.350,00 (Mensual)           1
137   $ 2.080.730,00 (Mensual)           1
138   $ 1.943.256,00 (Mensual)           1
139   $ 4.741.480,00 (Mensual)           1
140   $ 1.914.750,00 (Mensual)           1
141   $ 4.966.557,00 (Mensual)           1
142   $ 1.960.000,00 (Mensual)           1
143  $ 17.635.000,00 (Mensual)           1
144   $ 2.640.000,00 (Mensual)           1
145   $ 3.900.000,00 (Mensual)           1
146   $ 2.420.000,00 (Mensual)           1
147   $ 1.720.000,00 (Mensual)           1
148   $ 2.299.251,00 (Mensual)           1
149   $ 3.111.000,00 (Mensual)           1
150   $ 3.248.000,00 (Mensual)           1
151   $ 3.231.000,00 (Mensual)           1
152   $ 2.366.965,00 (Mensual)           1
153   $ 2.240.000,00 (Mensual)           1
154   $ 2.310.000,00 (Mensual)           1
155   $ 1.573.200,00 (Mensual)           1
156   $ 5.294.175,00 (Mensual)           1
157   $ 1.810.864,00 (Mensual)           1
158   $ 4.200.000,00 (Mensual)           1
159   $ 1.770.000,00 (Mensual)           1
160   $ 4.602.500,00 (Mensual)           1
161   $ 6.500.000,00 (Mensual)           1
162   $ 1.549.000,00 (Mensual)           1
163   $ 3.986.500,00 (Mensual)           1
164   $ 2.390.607,00 (Mensual)           1
165   $ 1.893.600,00 (Mensual)           1
166   $ 2.199.998,00 (Mensual)           1
167   $ 3.368.000,00 (Mensual)           1
168   $ 2.349.999,00 (Mensual)           1
169   $ 4.299.998,00 (Mensual)           1
170   $ 1.620.000,00 (Mensual)           1
171   $ 4.060.000,00 (Mensual)           1
172   $ 2.275.000,00 (Mensual)           1
173   $ 1.760.000,00 (Mensual)           1
174   $ 2.274.500,00 (Mensual)           1
175   $ 3.304.000,00 (Mensual)           1
176   $ 4.430.000,00 (Mensual)           1
177   $ 2.620.708,00 (Mensual)           1
178   $ 2.737.500,00 (Mensual)           1
179     $ 400.000,00 (Mensual)           1
180   $ 3.756.523,00 (Mensual)           1
181   $ 4.068.700,00 (Mensual)           1
182     $ 999.999,00 (Mensual)           1
183   $ 4.999.997,00 (Mensual)           1
184   $ 1.553.536,00 (Mensual)           1
185   $ 3.239.000,00 (Mensual)           1
186     $ 700.000,00 (Mensual)           1
187   $ 1.513.500,00 (Mensual)           1
188   $ 2.999.999,00 (Mensual)           1
189   $ 1.508.000,00 (Mensual)           1
190   $ 4.483.000,00 (Mensual)           1
191   $ 1.971.000,00 (Mensual)           1
192   $ 2.153.000,00 (Mensual)           1
193   $ 2.589.075,00 (Mensual)           1
194   $ 4.499.999,00 (Mensual)           1
195   $ 2.191.755,00 (Mensual)           1
196   $ 3.150.000,00 (Mensual)           1
197   $ 1.999.999,00 (Mensual)           1
198   $ 1.930.000,00 (Mensual)           1
199   $ 2.350.000,00 (Mensual)           1
200   $ 3.652.000,00 (Mensual)           1
201   $ 2.377.570,00 (Mensual)           1
202   $ 2.078.000,00 (Mensual)           1
203   $ 2.102.867,00 (Mensual)           1
204   $ 2.875.000,00 (Mensual)           1
205   $ 1.840.000,00 (Mensual)           1
206   $ 3.667.000,00 (Mensual)           1
207   $ 2.190.000,00 (Mensual)           1
208   $ 1.940.000,00 (Mensual)           1
209   $ 2.320.000,00 (Mensual)           1
210   $ 3.215.035,00 (Mensual)           1
211   $ 1.599.998,00 (Mensual)           1
212   $ 2.404.160,00 (Mensual)           1
213   $ 2.252.000,00 (Mensual)           1
214   $ 1.799.997,00 (Mensual)           1
215   $ 1.772.750,00 (Mensual)           1
216   $ 5.231.000,00 (Mensual)           1
217   $ 3.715.000,00 (Mensual)           1
218   $ 2.319.000,00 (Mensual)           1
219   $ 2.140.000,00 (Mensual)           1
220   $ 2.215.500,00 (Mensual)           1
221   $ 1.826.000,00 (Mensual)           1
222   $ 5.200.000,00 (Mensual)           1
223   $ 5.104.660,00 (Mensual)           1
224   $ 4.140.000,00 (Mensual)           1
225   $ 1.549.998,00 (Mensual)           1
226   $ 2.437.000,00 (Mensual)           1
227   $ 3.617.000,00 (Mensual)           1
228   $ 3.215.850,00 (Mensual)           1
229   $ 2.988.600,00 (Mensual)           1
230   $ 2.750.000,00 (Mensual)           1
231   $ 7.999.999,00 (Mensual)           1
232   $ 1.799.999,00 (Mensual)           1
233   $ 1.967.000,00 (Mensual)           1
234   $ 7.400.000,00 (Mensual)           1
235   $ 1.420.000,00 (Mensual)           1
236   $ 3.985.400,00 (Mensual)           1
237  $ 16.230.000,00 (Mensual)           1
238   $ 1.457.000,00 (Mensual)           1
239   $ 3.285.000,00 (Mensual)           1
240   $ 4.209.800,00 (Mensual)           1
241   $ 4.413.000,00 (Mensual)           1
242   $ 2.850.000,00 (Mensual)           1
243   $ 2.990.000,00 (Mensual)           1
244   $ 2.138.760,00 (Mensual)           1
245   $ 2.812.703,00 (Mensual)           1
246   $ 3.023.000,00 (Mensual)           1
247   $ 2.859.600,00 (Mensual)           1
248   $ 3.487.500,00 (Mensual)           1
249   $ 2.987.500,00 (Mensual)           1
250   $ 2.854.100,00 (Mensual)           1
251   $ 2.294.000,00 (Mensual)           1
252   $ 2.867.710,00 (Mensual)           1
253   $ 1.558.541,00 (Mensual)           1
254   $ 3.319.041,00 (Mensual)           1
255   $ 1.949.999,00 (Mensual)           1
256   $ 2.862.000,00 (Mensual)           1
257   $ 1.670.000,00 (Mensual)           1
258   $ 1.850.000,00 (Mensual)           1
259   $ 2.029.000,00 (Mensual)           1
260   $ 6.865.200,00 (Mensual)           1
261   $ 1.554.000,00 (Mensual)           1
262   $ 2.023.500,00 (Mensual)           1
263   $ 3.098.000,00 (Mensual)           1
264   $ 5.675.900,00 (Mensual)           1
265   $ 1.707.480,00 (Mensual)           1
266   $ 3.395.876,00 (Mensual)           1
267   $ 1.766.000,00 (Mensual)           1
268   $ 1.350.000,00 (Mensual)           1
269   $ 4.687.000,00 (Mensual)           1
270   $ 1.425.500,00 (Mensual)           1
271   $ 1.309.600,00 (Mensual)           1
272   $ 1.629.000,00 (Mensual)           1
273   $ 1.449.999,00 (Mensual)           1
274   $ 3.999.999,00 (Mensual)           1
275   $ 3.070.414,00 (Mensual)           1
276   $ 1.460.000,00 (Mensual)           1
277   $ 1.923.000,00 (Mensual)           1
278   $ 1.160.000,00 (Mensual)           1
279  $ 10.000.000,00 (Mensual)           1
280   $ 3.499.998,00 (Mensual)           1
281   $ 1.544.530,00 (Mensual)           1
282   $ 2.540.400,00 (Mensual)           1
283   $ 1.445.000,00 (Mensual)           1
284   $ 1.432.500,00 (Mensual)           1
285   $ 2.016.000,00 (Mensual)           1
286   $ 1.875.810,00 (Mensual)           1
287   $ 2.187.000,00 (Mensual)           1
288   $ 2.441.000,00 (Mensual)           1
289   $ 1.568.000,00 (Mensual)           1
290   $ 1.829.565,00 (Mensual)           1
291   $ 2.084.544,00 (Mensual)           1
292   $ 4.318.138,00 (Mensual)           1
293   $ 4.459.000,00 (Mensual)           1
294   $ 1.820.600,00 (Mensual)           1
295   $ 2.712.574,00 (Mensual)           1
296   $ 2.630.000,00 (Mensual)           1
297   $ 3.105.000,00 (Mensual)           1
298   $ 3.067.155,00 (Mensual)           1
299   $ 1.927.897,00 (Mensual)           1
300   $ 2.912.000,00 (Mensual)           1

In [ ]:
def limpiar_salario(s):
    if pd.isna(s) or not isinstance(s, str):
        return None
    if 'a convenir' in s.lower():
        return None
    s = s.split('(')[0]  # eliminar "(Mensual)", "(Anual)", etc.
    s = s.replace(',00', '')  # eliminar decimales irrelevantes
    s = s.replace('$', '').replace(' ', '').replace('.', '')  # limpiar símbolos
    try:
        return int(s)
    except:
        return None

df['salary'] = df['salary'].apply(limpiar_salario)

In [ ]:
# Verificar resultado
print(df["salary"])

0              NaN
1              NaN
2        4000000.0
3        2000000.0
4        2500000.0
5        3200000.0
6        3500000.0
7              NaN
8        1423500.0
9        1800000.0
10             NaN
11             NaN
12       4000000.0
13       2999999.0
14       2847500.0
15       2000000.0
16       3000000.0
17       2500000.0
18       1800000.0
19             NaN
20             NaN
21       3000000.0
22       3000000.0
23       2000000.0
24       1800000.0
25       2200000.0
26       4318138.0
27       2500000.0
28       2250000.0
29             NaN
30       2500000.0
31       4000000.0
32       2500000.0
33       2912000.0
34       2499998.0
35       1927897.0
36       3105000.0
37       3067155.0
38       2630000.0
39             NaN
40       2499998.0
41             NaN
42             NaN
43             NaN
44       2200000.0
45             NaN
46       2712574.0
47       4100000.0
48             NaN
49       1500000.0
50       1820600.0
51             NaN
52             NaN
53       2500000.0
54             NaN
55             NaN
56             NaN
57             NaN
58             NaN
59             NaN
60       2500000.0
61       3000000.0
62             NaN
63       3000000.0
64             NaN
65             NaN
66             NaN
67       4000000.0
68             NaN
69       3011000.0
70             NaN
71       7000000.0
72             NaN
73             NaN
74       2504679.0
75       3500000.0
76       3300000.0
77       1700000.0
78       3304000.0
79             NaN
80             NaN
81       2800000.0
83             NaN
84             NaN
85             NaN
86             NaN
87       3500000.0
88       2300000.0
89             NaN
90             NaN
91             NaN
92             NaN
93             NaN
94       3100000.0
96             NaN
97       1500000.0
98       2300000.0
99             NaN
100            NaN
101            NaN
102            NaN
103      2700000.0
104            NaN
105            NaN
106            NaN
107            NaN
108      2274500.0
109            NaN
110      1760000.0
111            NaN
112      3011000.0
113            NaN
114            NaN
115      2800000.0
116      2275000.0
117      2200000.0
118      2500000.0
119      2500000.0
120      5093000.0
121            NaN
122      2800000.0
123      1750000.0
124      3500000.0
125      4067481.0
126      2500000.0
127      1900000.0
128            NaN
129            NaN
130      3018170.0
131      3070414.0
132            NaN
133            NaN
134      1700000.0
135            NaN
136      3999999.0
137            NaN
138      5093000.0
139      1500000.0
140            NaN
141            NaN
142      3300000.0
143      4400000.0
144      7300000.0
145      3300001.0
146            NaN
147      2000000.0
148      5319000.0
149            NaN
150            NaN
151       999999.0
152      3600000.0
153      4000000.0
154      2000000.0
155      2200000.0
156      4067481.0
157      1800000.0
158      2000000.0
159            NaN
160      3000000.0
161            NaN
162      2500000.0
164            NaN
165            NaN
166      2500000.0
167      2400000.0
168      4300000.0
169            NaN
170      2000000.0
171      2700000.0
172      1800000.0
173            NaN
174      4068700.0
175            NaN
176      1423500.0
177      2800000.0
178            NaN
179      3756523.0
180      1423000.0
181      3000000.0
182      5000000.0
183      2500000.0
184      2500000.0
185            NaN
186      2500000.0
187      2500000.0
188      2500000.0
189            NaN
190            NaN
191      1800000.0
192      1600000.0
193      1500000.0
194      3500000.0
195      1800000.0
196            NaN
197      4300000.0
198      2737500.0
199            NaN
200            NaN
201      2000000.0
202      3500000.0
203      1800000.0
204      2620708.0
205      2600000.0
206      4430000.0
207      8000000.0
208      3476000.0
209      4303000.0
210      2600000.0
211      2600000.0
212      2949000.0
213            NaN
214      3200000.0
215            NaN
216      1900000.0
217      3800000.0
218      3073488.0
219            NaN
220            NaN
221      2900000.0
222      3200000.0
223      3500000.0
224      1855000.0
225      2291000.0
226      3000000.0
227            NaN
228      2500000.0
229      2291000.0
230      2291000.0
231            NaN
232            NaN
233      1600000.0
234      2000000.0
235      1950000.0
236            NaN
237      1423000.0
238      3000000.0
239            NaN
241      2500000.0
242      1423500.0
243      1803000.0
244      2000000.0
245      2100000.0
246            NaN
247      2100000.0
248      2317787.0
249      1500000.0
250      2000000.0
251            NaN
252            NaN
253      2500000.0
254            NaN
255      3200000.0
256      2000000.0
257            NaN
258      2000000.0
259      1423500.0
260            NaN
261            NaN
262            NaN
263      1423500.0
264      1800000.0
265      2500000.0
266            NaN
267            NaN
268            NaN
269      1600000.0
270            NaN
271            NaN
272      1900000.0
273            NaN
274      2257000.0
275      2500000.0
276      2500000.0
277      2447000.0
278      2500000.0
279            NaN
280            NaN
281      2457000.0
282      2000000.0
283      3476000.0
284      4299999.0
285      3103989.0
286            NaN
289      2330000.0
290      1300000.0
291            NaN
292      2799999.0
293      2000000.0
294      3380000.0
295      1800000.0
296      4000000.0
297      1300000.0
298      2200000.0
299      2268000.0
300      6533526.0
301      3397000.0
302      2400000.0
303            NaN
304      2365000.0
305            NaN
306       400000.0
307      1423500.0
308      2040000.0
309      2000000.0
310      2700000.0
311      3000000.0
312      1620000.0
313            NaN
314            NaN
315            NaN
316      4060000.0
317      3600000.0
318            NaN
319      3500000.0
321      2500000.0
322      1800000.0
323      1520812.0
324      1680000.0
325            NaN
326      3000000.0
327      1960000.0
328            NaN
329     17635000.0
330            NaN
331      2240000.0
332      2200000.0
333      3300000.0
334            NaN
335      2700000.0
336      3000000.0
337            NaN
338      2100000.0
339            NaN
340            NaN
341            NaN
342      2300000.0
343      2366965.0
344      1783855.0
345      1423500.0
346      1423500.0
347            NaN
348            NaN
349      3000000.0
350      3000000.0
351            NaN
352            NaN
353      2600000.0
354      2545350.0
355            NaN
356      4999999.0
357      1600000.0
358            NaN
359      5294175.0
360      1573200.0
361      2310000.0
362            NaN
363      2000000.0
364      2000000.0
365      1800000.0
366            NaN
367      2080730.0
368      4000000.0
369            NaN
370      2200000.0
371      1800000.0
372      1914750.0
373      4741480.0
374      2065229.0
375            NaN
376            NaN
377      1943256.0
378            NaN
379      2065229.0
380      1885000.0
381      4200000.0
382            NaN
383      1800000.0
384            NaN
385      2000000.0
386      1770000.0
387      4602500.0
388      2800000.0
389      3231000.0
390      2500000.0
391      2000000.0
392      4500000.0
393      6500000.0
394            NaN
395            NaN
396      2500000.0
397            NaN
398      1900000.0
399      4000000.0
400      2000000.0
401      3000000.0
402            NaN
403            NaN
404      3086512.0
405      1788000.0
406      2200000.0
407            NaN
408      3111000.0
409      2200000.0
410      2300000.0
411            NaN
412      3248000.0
413      2420000.0
414      2500000.0
415            NaN
416            NaN
417      1423500.0
418      2100000.0
419      2200000.0
420      2000000.0
421            NaN
423            NaN
424      2400000.0
425      2300000.0
426            NaN
427            NaN
428            NaN
429      3900000.0
430            NaN
431      1720000.0
432      2500000.0
433            NaN
434            NaN
435            NaN
437            NaN
438      3200000.0
439      2000000.0
440            NaN
441            NaN
442      2299251.0
443      1423500.0
444            NaN
445      2640000.0
446      4966557.0
447      4300000.0
448      4299998.0
449      1594500.0
450      2349999.0
451      2600000.0
452            NaN
453      3368000.0
454      3500000.0
455      1900000.0
456            NaN
457      1423500.0
459      1800000.0
460            NaN
461            NaN
462      2199998.0
463      1893600.0
464            NaN
465            NaN
466            NaN
467            NaN
468      3667000.0
469      2190000.0
470      1800000.0
471      2000000.0
472            NaN
473      4000000.0
474            NaN
475            NaN
476      2029890.0
477      2029890.0
478            NaN
479      3600000.0
480      1423500.0
481      1549000.0
482            NaN
483      1840000.0
484            NaN
485      2100000.0
486      6000000.0
487            NaN
488      3986500.0
489            NaN
490            NaN
491            NaN
492            NaN
493            NaN
494            NaN
495      1500000.0
496            NaN
497      2390607.0
498      1594500.0
499      1810864.0
500      1695000.0
501      4000000.0
502      2589075.0
503            NaN
504            NaN
505      2362796.0
506      2200000.0
507      3309000.0
508      2300000.0
509            NaN
510            NaN
511            NaN
512      4499999.0
513      3150000.0
514            NaN
515            NaN
516            NaN
517      2600000.0
518      2191755.0
519      2100000.0
520            NaN
521      1423500.0
522      3300000.0
523            NaN
524            NaN
525      2300000.0
526      2100000.0
527      1550000.0
528            NaN
529      2600000.0
530      1423500.0
531      2500000.0
532            NaN
533      2300000.0
534      3500000.0
535      2000000.0
536            NaN
537      2200000.0
538      2300000.0
539            NaN
540      1885000.0
541            NaN
542            NaN
543            NaN
545            NaN
546            NaN
548      2350000.0
550            NaN
551            NaN
553            NaN
554            NaN
555      3652000.0
556            NaN
559      2500000.0
560      2600000.0
561      1999999.0
562            NaN
563            NaN
564      1900000.0
565      1900000.0
566      1609000.0
567            NaN
568            NaN
569      2400000.0
570      3000000.0
571      3000000.0
572            NaN
573      2000000.0
574            NaN
575            NaN
576      1930000.0
577      2700000.0
578      3000000.0
579      2500000.0
580            NaN
581            NaN
582      2000000.0
583            NaN
584      1600000.0
585      3500000.0
586      2000000.0
587      4300000.0
588      2000000.0
589      2200000.0
590      2000000.0
591      1700000.0
592            NaN
593            NaN
594            NaN
595            NaN
596      1500000.0
597            NaN
598      2400000.0
599      1800000.0
600      4000000.0
601      2500000.0
602            NaN
603      5000000.0
604      2377570.0
605      2500000.0
606            NaN
607      3500000.0
609      4300000.0
610      1423500.0
611            NaN
612      2000000.0
613      2875000.0
614      1500000.0
615      1600000.0
616            NaN
617      2000000.0
618      2200000.0
619            NaN
620            NaN
621      2102867.0
622      2078000.0
623      1999000.0
624      1788000.0
625      3715000.0
626            NaN
627            NaN
628      1750000.0
629      1772750.0
630            NaN
631      3000000.0
632      5231000.0
633            NaN
634      2252000.0
635      3476000.0
636            NaN
637            NaN
638            NaN
639      3500000.0
640            NaN
641      2570000.0
642            NaN
643      3500000.0
644      3000000.0
645      4020000.0
646      2800000.0
647            NaN
648      2000000.0
649      1800000.0
650      2500000.0
651            NaN
652            NaN
653      1799997.0
654      1800000.0
655            NaN
656            NaN
657            NaN
658      1599998.0
659      2500000.0
660      2404160.0
661      2000000.0
662      2300000.0
663      4000000.0
664            NaN
665            NaN
666      2700000.0
667            NaN
668      1800000.0
669            NaN
670      2215500.0
671      1423500.0
672      6000000.0
673            NaN
674      1423500.0
675      2140000.0
676      1950000.0
677            NaN
678            NaN
679      1508000.0
680      4400000.0
681      3000000.0
682            NaN
683            NaN
684      1800000.0
685            NaN
686      4000000.0
687            NaN
688      4483000.0
689      1800000.0
690      1971000.0
691      3086512.0
692      2000000.0
693      3000000.0
694            NaN
695      1800000.0
696      2000000.0
697            NaN
698            NaN
699      2153000.0
700      3023000.0
701      1999000.0
702            NaN
703      2000000.0
704      2812703.0
705      2138760.0
706      3100000.0
707      2990000.0
708      2850000.0
709            NaN
710            NaN
711      1700000.0
712            NaN
713      3000000.0
714      2000000.0
715      2700000.0
716            NaN
717            NaN
718            NaN
719      2900000.0
720            NaN
721      3011000.0
722      4413000.0
723      1700000.0
724      2500000.0
725      2200000.0
726      2570000.0
727            NaN
729      2400000.0
730            NaN
731      1680000.0
732      2000000.0
733            NaN
734            NaN
735            NaN
736      1885000.0
737            NaN
738      2029890.0
739      3000000.0
740            NaN
741      2500000.0
742      1423500.0
743      1423500.0
744      2600000.0
745            NaN
746            NaN
747      2000000.0
748      2000000.0
749      4209800.0
750      2000000.0
751      4300000.0
752      1500000.0
753            NaN
754      1800000.0
755            NaN
756            NaN
757            NaN
758      1940000.0
759      2200000.0
760      1836000.0
761      3000000.0
762            NaN
763      3100000.0
764            NaN
765      1423500.0
766      2000000.0
767      2500000.0
768      1695000.0
771      1600000.0
772      5000000.0
773      3215035.0
774      4020000.0
775            NaN
776      2000000.0
777            NaN
778      2320000.0
779            NaN
781      2867710.0
782      2800000.0
783            NaN
784      1609000.0
785            NaN
786      1423500.0
787      2294000.0
788      3400000.0
789      2500000.0
790      2319000.0
791      2000000.0
792      1452000.0
793      2750000.0
794            NaN
795            NaN
796      2988600.0
797      1800000.0
798            NaN
799      2000000.0
800      2000000.0
801      3985400.0
802            NaN
803      2600000.0
804      1420000.0
805            NaN
806      2000000.0
807      2437000.0
808            NaN
809      1423500.0
810      1500000.0
811      3000000.0
812      1423500.0
813      3000000.0
814            NaN
815            NaN
816      2800000.0
817            NaN
818      2000000.0
819      1549998.0
820            NaN
821            NaN
823      2600000.0
824      2000000.0
825      2700000.0
826      1600000.0
827      1800000.0
828      3400000.0
829            NaN
830      1700000.0
831      2000000.0
832      2500000.0
833            NaN
834      1423500.0
835      2300000.0
836      1900000.0
837            NaN
839      3215850.0
840      4000000.0
842      3617000.0
843      4000000.0
844      1423500.0
846      4140000.0
847      2000000.0
848            NaN
849      2000000.0
850            NaN
854            NaN
855            NaN
856            NaN
857            NaN
858      5104660.0
859      1900000.0
860      3000000.0
861            NaN
862      2500000.0
863      2600000.0
864      3000000.0
865      2000000.0
867      1800000.0
868      2500000.0
869      1826000.0
870            NaN
871            NaN
872      2500000.0
873      4100000.0
874      2700000.0
876      2600000.0
877      5200000.0
878      1423500.0
879      2854100.0
880            NaN
881      2987500.0
882      1800000.0
883            NaN
884      3487500.0
885      3000000.0
886      2600000.0
887      2859600.0
888            NaN
889      2500000.0
890      2023500.0
891            NaN
892      1700000.0
893      3098000.0
894      2000000.0
895            NaN
896      2000000.0
897            NaN
898            NaN
899            NaN
900      1452000.0
901      5000000.0
902            NaN
903            NaN
904            NaN
905            NaN
906            NaN
907      2000000.0
908            NaN
909            NaN
910            NaN
911      1423500.0
912      1623500.0
913      4000000.0
914      1500000.0
915      2800000.0
916      5675900.0
917      1554000.0
918      1423500.0
919      1423500.0
920      1423500.0
921      1300000.0
922      2500000.0
923            NaN
924            NaN
925            NaN
926      3285000.0
927            NaN
928      3000000.0
929      2362796.0
930      1423500.0
931      1707480.0
932      3000000.0
933            NaN
934      2500000.0
935      1800000.0
936      1500000.0
937            NaN
938            NaN
939      3000000.0
940      1600000.0
941      1423500.0
942      1423500.0
943      1423500.0
944      2112842.0
945            NaN
946      1300000.0
947            NaN
948            NaN
949      3500000.0
950      1800000.0
951            NaN
952            NaN
953      1500000.0
954            NaN
955      1423500.0
956      1423500.0
957            NaN
958      2112842.0
959      1500000.0
960            NaN
961            NaN
962      1855000.0
963      1855000.0
964      1800000.0
965      1423500.0
966      1423500.0
967      3200000.0
968     16230000.0
969            NaN
970      1457000.0
971      3000000.0
972            NaN
973      7400000.0
974      3000000.0
975      3000000.0
976      3000000.0
977      1500000.0
978      1967000.0
979      1452000.0
980      1423500.0
981      1600000.0
982      1700000.0
983      1500000.0
984      1500000.0
985      1500000.0
986      1500000.0
987      2000000.0
988      1423500.0
989            NaN
990      2000000.0
991            NaN
992      2500000.0
993      1423500.0
994      1423500.0
995      3800000.0
996      1800000.0
997      1425000.0
998      1300000.0
999            NaN
1001           NaN
1002     1600000.0
1003     1500000.0
1004           NaN
1005     1423500.0
1006     1799999.0
1007     7999999.0
1008           NaN
1009     1623500.0
1010     1500000.0
1011     1800000.0
1012           NaN
1013     1423500.0
1014     4000000.0
1015     2000000.0
1016     1980000.0
1017     1423500.0
1018     1500000.0
1019     3500000.0
1020     3395876.0
1021     1500000.0
1022           NaN
1023           NaN
1024     2662973.0
1025           NaN
1026     5000000.0
1027     1423000.0
1028     1423500.0
1029     3300000.0
1030     2200000.0
1031     1836000.0
1032     1836000.0
1033           NaN
1034     1766000.0
1035     1423000.0
1036     1423500.0
1037     1550000.0
1038     1423500.0
1039           NaN
1040     1423500.0
1041     1423500.0
1042     1423500.0
1043     1423500.0
1045     1423500.0
1046     1935000.0
1047     2300000.0
1048           NaN
1050     1432500.0
1051     1423500.0
1052     1350000.0
1053     1423500.0
1054     1423500.0
1055     3000000.0
1056     1300000.0
1057           NaN
1058     1423500.0
1059           NaN
1060           NaN
1061     1300000.0
1062           NaN
1063     1300000.0
1064     1452000.0
1065     4000000.0
1066     1800000.0
1067           NaN
1068     1423500.0
1069     1300000.0
1070     1558541.0
1072     3319041.0
1073     1423500.0
1074     1700000.0
1075     1600000.0
1076     1800000.0
1077     1423500.0
1078     1949999.0
1079           NaN
1081     1623500.0
1082           NaN
1083     2862000.0
1084           NaN
1085     2540000.0
1086     1900000.0

In [10]:
# 2. Función para extraer el primer valor de 7 cifras después de $ o palabra SALARIO
def extract_main_salary(text):
    if pd.isna(text):
        return None

    text = text.lower()

    # Buscar después de "$" o "salario"
    match = re.search(r"(?:\$|salario[:\s]*)\s*([\d.,]{7,})", text)
    if match:
        value = match.group(1)
        try:
            # Convertir a número (quita puntos miles y usa coma decimal si aplica)
            return float(value.replace(".", "").replace(",", "."))
        except ValueError:
            return None
    return None

# 3. Guardar la columna original de salary
df["salary_original"] = df["salary"]

# 4. Aplicar la extracción
df["salary_extracted"] = df["description"].apply(extract_main_salary)

# 5. Rellenar solo los NaN originales en 'salary'
df["salary"] = df["salary_original"].combine_first(df["salary_extracted"])

df.drop(columns=["salary_original", "salary_extracted"], inplace=True)

In [ ]:
df['salary'] = df['salary'].astype('Int64')  # si ya está limpio

In [12]:
conteo_ciudades = df['salary'].value_counts().sort_values(ascending=False).reset_index()
conteo_ciudades.columns = ['salary', 'frecuencia']
pd.set_option('display.max_rows', None)  # Muestra todas las filas
print(conteo_ciudades)

             salary  frecuencia
0           1423500         176
1           2000000          89
2           1800000          69
3           2500000          60
4           1500000          56
5           3000000          51
6           3500000          27
7           4000000          26
8           1600000          22
9           2200000          22
10          2300000          18
11          1700000          18
12          1300000          17
13          2600000          16
14          1900000          15
15          2800000          15
16          1935000          13
17          1423000          11
18          3274000          10
19          2100000          10
20          2700000           9
21          2540000           9
22          3200000           9
23          5000000           9
24          3300000           9
25          2400000           8
26          2123500           7
27          4300000           6
28          4500000           6
29          1623500           5
30          3800000           5
31          1452000           5
32          1885000           5
33          2880000           4
34          3600000           4
35          1980000           3
36          3100000           3
37          1400000           3
38          3011000           3
39          1901000           3
40           700000           3
41          2662973           3
42          2029890           3
43          1680000           3
44          1855000           3
45          1550000           3
46          1425000           3
47          3476000           3
48          2291000           3
49          1836000           3
50          2065229           2
51          1571500           2
52          3309000           2
53          2153000           2
54          1695000           2
55          2362796           2
56          2499998           2
57          2250000           2
58          4100000           2
59          3105000           2
60          3086512           2
61          1788000           2
62          1667000           2
63          1639200           2
64          1750000           2
65          2379375           2
66          2707450           2
67          1494675           2
68          2650000           2
69          4169000           2
70          7000000           2
71          5093000           2
72          4020000           2
73          3400000           2
74         13000000           2
75          1949000           2
76          1999000           2
77          2570000           2
78          2150000           2
79          2900000           2
80          1589000           2
81          1650000           2
82          4067481           2
83          4400000           2
84          2112842           2
85          3350000           2
86          1950000           2
87          1609000           2
88          1520812           2
89          1960000           2
90          1594500           2
91          6000000           2
92          1521000           1
93    1600000400000           1
94          1449999           1
95          1630000           1
96          2504679           1
97          3304000           1
98   20000002500000           1
99          2274500           1
100         1760000           1
101         2275000           1
102         1629000           1
103         1460000           1
104         4687000           1
105         1425500           1
106         1309600           1
107         1544530           1
108         2847500           1
109         4318138           1
110         2912000           1
111         1927897           1
112         3067155           1
113         2630000           1
114         2712574           1
115         1820600           1
116         1781099           1
117         3139500           1
118         1566000           1
119         2634000           1
120         1450000           1
121         1784000           1
122         1463008           1
123         1513500           1
124          500000           1
125         3239000           1
126         1553536           1
127         4999997           1
128         1829565           1
129         1568000           1
130         2240000           1
131         2366965           1
132         1783855           1
133         2014000           1
134         2545350           1
135         1915000           1
136         4999999           1
137         5294175           1
138         1573200           1
139         2310000           1
140         3112000           1
141         2080730           1
142         1914750           1
143         4741480           1
144         1943256           1
145         4200000           1
146         1770000           1
147         4602500           1
148         3231000           1
149         6500000           1
150         3111000           1
151         3248000           1
152         2420000           1
153         3900000           1
154         1720000           1
155         2299251           1
156         2640000           1
157         4966557           1
158         2799999           1
159         3380000           1
160         2268000           1
161         6533526           1
162         3397000           1
163         2365000           1
164          400000           1
165         2040000           1
166         1620000           1
167         4060000           1
168        17635000           1
169         4299998           1
170         2349999           1
171         3368000           1
172         2199750           1
173         2199998           1
174         1893600           1
175         3667000           1
176         2190000           1
177         1549000           1
178         1840000           1
179         3986500           1
180         3212600           1
181         2390607           1
182         1810864           1
183         2589075           1
184         4499999           1
185         3150000           1
186         2191755           1
187         1610000           1
188         2350000           1
189         3652000           1
190         1999999           1
191         1930000           1
192         2070000           1
193         1803000           1
194         5100000           1
195         2317787           1
196         2257000           1
197         2447000           1
198         1886000           1
199         2457000           1
200         4299999           1
201         3103989           1
202         2330000           1
203         2377570           1
204         2875000           1
205         2102867           1
206         2078000           1
207         3715000           1
208         3271000           1
209         1772750           1
210         5231000           1
211         2252000           1
212         1799997           1
213         1599998           1
214         2404160           1
215         1614200           1
216         2215500           1
217         2140000           1
218          245000           1
219         1508000           1
220         4483000           1
221         1971000           1
222         3023000           1
223         2812703           1
224         2138760           1
225         2990000           1
226         2850000           1
227         4413000           1
228         3882000           1
229         4209800           1
230         1940000           1
231         3215035           1
232         2320000           1
233         2867710           1
234         2294000           1
235         2319000           1
236         2750000           1
237         2988600           1
238         3985400           1
239         1420000           1
240         2437000           1
241         1549998           1
242         3215850           1
243         3617000           1
244         4140000           1
245         5104660           1
246         1826000           1
247         5200000           1
248         2854100           1
249         2987500           1
250         3487500           1
251         2859600           1
252         2023500           1
253         3098000           1
254         5675900           1
255         1554000           1
256         3285000           1
257         1707480           1
258         2370000           1
259         2737500           1
260         2620708           1
261         4430000           1
262         8000000           1
263         4303000           1
264         2949000           1
265         3700000           1
266         3073488           1
267         1467000           1
268        16230000           1
269         1457000           1
270         7400000           1
271         1967000           1
272         1799999           1
273         7999999           1
274         3395876           1
275         1766000           1
276         1432500           1
277         1350000           1
278         1473500           1
279         1558541           1
280         3319041           1
281         1949999           1
282         2862000           1
283         1670000           1
284         1850000           1
285         2029000           1
286         6865200           1
287         2016000           1
288         1875810           1
289         2187000           1
290         3018170           1
291         3070414           1
292         3999999           1
293         7300000           1
294         3300001           1
295         5319000           1
296          999999           1
297         4068700           1
298         2807000           1
299         3756523           1
300         1735800           1
301         3330000           1
302         2129400           1
303         2548429           1
304         2838000           1
305         1923000           1
306         1445000           1
307         2540400           1
308         1432000           1
309         4602800           1
310         2230000           1
311         2441000           1
312         2945000           1
313         1468000           1
314       230000000           1
315          295000           1
316         8898000           1
317          610160           1
318         7500000           1
319         1623000           1
320         2000001           1
321         3499998           1
322        10000000           1
323         1160000           1
324         2799000           1
325         2226757           1
326         1530000           1
327         1676500           1
328         2999999           1
329         2084544           1
330         4459000           1

Editar valores específicos manualmente, que tienen errores poco comunes para no perder información

In [13]:
df.loc[df["salary"] == 20000002500000, "salary"] = 2500000
df.loc[df["salary"] ==  230000000, "salary"] = 2300000
df.loc[df["salary"] ==  16230000, "salary"] = 1623000
df.loc[df["salary"] ==  13000000, "salary"] = 1300000
df.loc[df["salary"] ==  700000, "salary"] = 1423500 
df.loc[df["salary"] ==  400000, "salary"] = 4000000 
df.loc[df["salary"] ==  300000, "salary"] = 3000000 
df.loc[df["salary"] ==  245000, "salary"] = 2450000
df.loc[df["salary"] ==  295000, "salary"] = 2950000
df.loc[df["salary"] ==  500000, "salary"] = 1423500
df.loc[df["salary"] ==  1600000400000, "salary"] = 1600000
df.loc[df["salary"] ==  999999, "salary"] = np.nan
df.loc[df["salary"] ==  610160, "salary"] =  1423500
df.loc[df["salary"] ==   17635000, "salary"] =   1763500
df.loc[df["salary"] ==   10000000, "salary"] =   1423500

## Clean age

In [15]:
df["age"] = df["age"].str.strip()  # Eliminar espacios en blanco
df["age"] = df["age"].replace("No disponible", "A partir de 18 años")

## Clean Contract

In [16]:
df["contract"] = df["contract"].str.replace("Contrato ", "", regex=False).str.strip()

In [17]:
df.head(5)

,url,title,company,rating,salary,contract,schedule,description,education,experience,age,skills,city,department
0,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de programación y datos - Medellín,Empleamos Temporales SAS,4.45,<NA>,de Obra o labor,Tiempo Completo,buscar talento programación análisis datosempl...,Universidad / Carrera tecnológica,1 año de experiencia,A partir de 18 años,No disponible,Medellín,Antioquia
1,https://co.computrabajo.com/ofertas-de-trabajo...,Analista Operaciones / Analista de datos,Corporación Interactuar,NaN,<NA>,a término indefinido,Tiempo Completo,"apasionado análisis dato , oferta corporación ...",Universidad / Carrera Profesional,No disponible,A partir de 18 años,No disponible,Bello,Antioquia
2,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de datos / Analista BI // Manejo de i...,BRM S.A.S,4.24,4000000,a término indefinido,Tiempo Completo,"detective dato nato , capaz encontrar aguja co...",Universidad / Carrera Profesional,2 años de experiencia,A partir de 18 años,No disponible,Medellín,Antioquia
3,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de datos,Alianza Temporal S.A.S,4.31,2000000,de Obra o labor,Tiempo Completo,importante empresa sector logistico transporte...,Universidad / Carrera Profesional,3 años de experiencia,A partir de 18 años,No disponible,"Bogotá, D.C.","Bogotá, D.C."
4,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de datos / Experiencia en facturación...,BRM S.A.S,4.24,2500000,a término indefinido,Tiempo Completo,gurú dato financiero obsesión exactitud factur...,Universidad / Carrera técnica,1 año de experiencia,A partir de 18 años,No disponible,"Bogotá, D.C.","Bogotá, D.C."

## Clean experience

In [18]:
import pandas as pd
import re

def procesar_experiencia(df):
    def extract_experience_from_description(row):
        text = str(row['description']).lower()

        # Detectar si dice que NO requiere experiencia
        patrones_sin_experiencia = [
            r"sin\s+experiencia",
            r"no\s+requiere\s+experiencia",
            r"no\s+se\s+necesita\s+experiencia",
            r"no\s+necesita[s]?\s+experiencia",
            r"experiencia\s+no\s+necesaria",
            r"no\s+es\s+necesario\s+experiencia",
            r"experiencia\s+no\s+requerida",
            r"no\s+es\s+indispensable\s+experiencia",
            r"experiencia\s+no\s+indispensable"
        ]
        if any(re.search(pat, text) for pat in patrones_sin_experiencia):
            return 0.0

        # Patrones para extraer experiencia explícita
        patterns = [
            r"(\d+)\s*(a|-|–|—)\s*(\d+)\s*(año|mes)",
            r"(\d+)\s*(to|–|—|\-| )\s*(\d+)\s*(year|month)",
            r"(\d+)\s*año\s+de\s+experiencia",
            r"mínimo\s+(de\s+)?(\d+)\s*año",
            r"experiencia\s+(de\s+|mínimo\s+de\s+)?(\d+)\s*año",
            r"al\s+menos\s+(\d+)\s*año",
            r"experiencia.*?(\d+)\s*año",
            r"(\d+)\s*mes\s+de\s+experiencia",
            r"mínimo\s+(de\s+)?(\d+)\s*mes",
            r"experiencia\s+(de\s+|mínimo\s+de\s+)?(\d+)\s*mes",
            r"al\s+menos\s+(\d+)\s*mes",
            r"experiencia.*?(\d+)\s*mes",
            r"(\d+)\s*year\s*(of)?\s*experience",
            r"at\s+least\s+(\d+)\s*year",
            r"minimum\s+of\s+(\d+)\s*year",
            r"(?:require[d]?[:\s]*)+(\d+)\s*year",
            r"(\d+)\s*month\s*(of)?\s*experience",
            r"at\s+least\s+(\d+)\s*month",
            r"minimum\s+of\s+(\d+)\s*month",
            r"(?:require[d]?[:\s]*)+(\d+)\s*month",

            # Casos como '3 año experiencia' o '2 año experiencia'
            r"(\d+)\s*año\s+experiencia",
            r"(\d+)\s*mes\s+experiencia",

            # Números escritos en palabras
            r"(uno|una|dos|tres|cuatro|cinco|seis|siete|ocho|nueve|diez|once|doce|trece|catorce|quince|dieciséis|diecisiete|dieciocho|diecinueve|veinte)\s+año\s+experiencia",
            r"(uno|una|dos|tres|cuatro|cinco|seis|siete|ocho|nueve|diez|once|doce|trece|catorce|quince|dieciséis|diecisiete|dieciocho|diecinueve|veinte)\s+mes\s+experiencia",

            # Casos unidos o mal escritos como 'c1experiencia'
            r"experiencia.*?(uno|una|dos|tres|cuatro|cinco|seis|siete|ocho|nueve|diez|once|doce|trece|catorce|quince|dieciséis|diecisiete|dieciocho|diecinueve|veinte|\d+)",

            # Casos con errores o formatos alternativos
            r"experiencio\s*:\s*indispensable\s*(\d+)\s*(mes|año)",
        ]

        patrones_genericos_experiencia = [
            r"\bexperiencia\s+proceso\s+(administrativo|logístico|contable|comercial)",
            r"\brequerir\s+experiencia\s+(previo|previa)",
            r"\bexperiencia\s+(previo|previa|necesaria|requerida|mínima)",
        ]

        numeros_palabras = {
            'uno': 1, 'una': 1, 'dos': 2, 'tres': 3, 'cuatro': 4, 'cinco': 5,
            'seis': 6, 'siete': 7, 'ocho': 8, 'nueve': 9, 'diez': 10,
            'once': 11, 'doce': 12, 'trece': 13, 'catorce': 14, 'quince': 15,
            'dieciséis': 16, 'diecisiete': 17, 'dieciocho': 18, 'diecinueve': 19, 'veinte': 20
        }

        valores_encontrados = []

        for pattern in patterns:
            match = re.search(pattern, text)
            if match:
                for g in match.groups():
                    if not g:
                        continue
                    g = g.strip()
                    if g.isdigit():
                        num = int(g)
                    elif g in numeros_palabras:
                        num = numeros_palabras[g]
                    else:
                        continue
                    if "mes" in match.group(0) or "month" in match.group(0):
                        valores_encontrados.append(round(num / 12, 2))
                    else:
                        valores_encontrados.append(float(num))

        if valores_encontrados:
            return min(valores_encontrados)

        if any(re.search(pat, text) for pat in patrones_genericos_experiencia):
            return 1.0

        return None

    def clean_experience_value(exp):
        if pd.isna(exp):
            return None
        exp = str(exp).lower().strip()
        match = re.search(r"(\d+)", exp)
        if not match:
            return None
        value = int(match.group(1))
        if "mes" in exp or "month" in exp:
            return round(value / 12, 2)
        else:
            return float(value)

    # Limpieza inicial
    df["experience"] = df["experience"].apply(clean_experience_value)

    # Extraer experiencia desde descripción
    df["experience_extracted"] = df.apply(extract_experience_from_description, axis=1)

    # Rellenar experiencia nula con extraída
    df["experience"] = df["experience"].combine_first(df["experience_extracted"])

    # Contrato de aprendizaje = 0.0 si no tiene valor aún
    df.loc[
        (df["experience"].isna()) &
        (df["contract"].str.lower().str.contains("aprendizaje", na=False)),
        "experience"
    ] = 0.0

    # Rellenar con moda si sigue faltando
    if df["experience"].isna().any():
        moda = df["experience"].mode()
        if not moda.empty:
            df["experience"].fillna(moda[0], inplace=True)

    # Eliminar columnas auxiliares
    df.drop(columns=["experience_extracted"], inplace=True)

    return df

In [19]:
df = procesar_experiencia(df)

C:\Users\John\AppData\Local\Temp\ipykernel_9112\3899925781.py:135: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["experience"].fillna(moda[0], inplace=True)

## Crear categorias

In [20]:
# Cargar modelo en español de spaCy
nlp = spacy.load("es_core_news_sm")

# Concatenar todos los títulos
text = " ".join(str(title) for title in df["title"]).lower()

# Limpiar caracteres especiales
text = re.sub(r"[^\w\sñáéíóúü]", "", text)

# Procesar texto con spaCy
doc = nlp(text)

# Filtrar lemas que no sean stopwords ni signos de puntuación
filtered_lemmas = [
    token.lemma_ for token in doc
    if not token.is_stop and not token.is_punct and token.lemma_.strip()
]

# Contar frecuencia
word_counts = Counter(filtered_lemmas)

# Mostrar las 20 palabras más frecuentes
top_20 = word_counts.most_common(50)
for word, freq in top_20:
    print(f"{word}: {freq}")

analista: 986
comercial: 433
asesor: 403
dato: 162
venta: 129
experiencia: 123
bogotá: 100
asesora: 98
center: 97
sector: 88
call: 86
servicio: 84
trabajo: 73
cliente: 71
casa: 66
ref: 64
financiero: 61
externo: 60
senior: 51
sistema: 50
contable: 45
moto: 43
operación: 41
administrativo: 40
cali: 40
junior: 39
gestión: 36
información: 35
auxiliar: 35
analyst: 34
datar: 31
inmediato: 31
telecomunicación: 30
tat: 30
año: 29
salud: 29
costo: 29
bi: 28
soporte: 28
base: 27
bogota: 27
compra: 27
urgente: 26
seguridad: 25
calidad: 25
bilingüe: 24
mercadeo: 24
contratación: 24
digital: 24
medellín: 22

In [21]:
# Función para asignar múltiples categorías a un título
def asignar_multiples_categorias(title):
    title_lower = title.lower()
    categorias_detectadas = []

    if "contable" in title_lower:
        categorias_detectadas.append("contable")
    if "dato" in title_lower or "informacion" in title_lower or "data" in title_lower:
        categorias_detectadas.append("datos")
    if "analista" in title_lower or "bi" in title_lower or "analyst" in title_lower:
        categorias_detectadas.append("analista")
    if "administrativo" in title_lower or "financiero" in title_lower or "business" in title_lower:
        categorias_detectadas.append("financiero")
    if "asesor" in title_lower or "asesora" in title_lower or "cliente" in title_lower or "venta" in title_lower or "servicio" in title_lower or "comercial" in title_lower or "compra" in title_lower:
        categorias_detectadas.append("asesor")
    if "especialista" in title_lower or "desarrollador" in title_lower or "programador" in title_lower or "software" in title_lower or "ingeniero" in title_lower or "senior" in title_lower or "bilingüe" in title_lower:
        categorias_detectadas.append("especialista")
    if "consultor" in title_lower or "soporte" in title_lower or "externo" in title_lower:
        categorias_detectadas.append("consultor")
    if "call" in title_lower or "center" in title_lower or "telecomunicacion" in title_lower:
        categorias_detectadas.append("call center")
    if "auxiliar" in title_lower or "junior" in title_lower or "jr" in title_lower or "practicante" in title_lower:
        categorias_detectadas.append("auxiliar")
    if "lider" in title_lower or "jefe" in title_lower or "supervisor" in title_lower or "responsable" in title_lower or "gerente" in title_lower:
        categorias_detectadas.append("lider")

    return ", ".join(set(categorias_detectadas)) if categorias_detectadas else "otros"

# Aplicar al DataFrame
df["category"] = df["title"].apply(asignar_multiples_categorias)

In [22]:
# Filtra las filas que quedaron como "otros"
otros_titles = df[df["category"] == "otros"]["title"].unique()
print(otros_titles)

['Conductor/a licencia c2 para planta de residuos peligrosos / Mosquera - Mosquera'
 'Convocatoria Jueves de Empleo Cali'
 'Back Office  / Manejo de inglés B2 o C1 - Dominio de Excel intermedio avanzado'
 'Psicóloga/o de  selección Facatativá con experiencia sector floricultor'
 'Coordinador de Costos - Sector Transporte y Logística'
 'Auditor Control Interno - Medellin' 'Inspector de calidad - Yumbo'
 'Coordinador de sistemas - Tiempo completo'
 'Líder de pauta digital - Trafficker Digital'
 'Tecnólogo en Sistemas - Tecnólogo en Sistemas'
 'Técnico en Contratación en Salud'
 'Documentador/a de Procesos - Ing. Industrial o de procesos'
 'Profesional Talento Humano People Analytics - People Analytics'
 'Se busca personal área Reporting. 6to Semestre en Ingeniería de sistemas - Economía o a fines ¡No dejes pasar la oportunidad!'
 'Ejecutivo de cuentas Inhause'
 'Técnico en Sistemas con Enfoque en Plataforma MiPres'
 '(Aprendiz) Técnico o Tecnólogo en Talento Humano - Gestión Administrativa o Carreras a fines'
 'Tecnólogo/a  Químico - Villa Rica' 'Mensajero'
 'Tecnólogo en criminalística' 'Profesional PMO' 'mensajero/a']

## Clean Skills

In [23]:
def lemmatize_text(text):
    doc = nlp(text)
    return " ".join([token.lemma_ for token in doc if not token.is_punct and not token.is_space])

In [24]:
# Filtrar nulos y valores no disponibles
skills_series = df['skills'].dropna()
skills_series = skills_series[~skills_series.str.lower().str.contains("no disponible")]

# Separar por coma, limpiar espacios y convertir a minúsculas
skill_list = skills_series.str.split(',').explode().str.strip().str.lower()

# Lematizar cada habilidad
skill_list_lemmatized = skill_list[skill_list != ""].apply(lemmatize_text)

# Quitar duplicados y ordenar
unique_skills = sorted(skill_list_lemmatized.dropna().unique())

# Mostrar resultados
print(f"Se encontraron {len(unique_skills)} habilidades únicas lematizadas:")
for skill in unique_skills:
    print(f"- {skill}")

Se encontraron 140 habilidades únicas lematizadas:
- aceptación de error y fracaso
- adaptación al cambio
- administración
- administración de archivo
- administración de sistema
- adobe after effects
- adobe ilustrator
- adobe indesign
- adobe photoshop
- adobe premier
- agile
- análisis
- análisis de coste
- análisis financiero
- aprendizaje
- asesoer comercial
- asp.net
- asp.net mvc
- atención al cliente
- auditoria
- auditoria interno
- autocad
- autoconfianza
- big datar
- budget
- c
- calidad
- call center
- capacidad de decisión
- cloud computing
- comercio exterior
- compra
- comunicación y persuasión
- consultoer
- contabilidad
- continuous deployment
- coreldraw
- creación de equipo
- creatividad
- crm
- css
- desarrollo de negocio
- desarrollo de producto
- digitalización de documento
- dirección
- dirección de venta
- diseño
- django
- electrónico
- enseñanza
- erp
- facturación
- finanza
- gestión
- gestión de coste
- gestión de el emoción
- gestión de equipo
- gestión de inventario
- gestión de personal
- gestión de proyecto
- gestión de venta
- gestión del cambio
- gestión del tiempo
- habilidad comercial
- hablar en público
- hadoop
- html
- impalo
- ingeniería
- iniciativa
- inmobiliario
- innovación
- investigación
- iso 9001
- java
- javascript
- jquery
- lean
- lean manufacturing
- lean six sigma
- liderazgo
- linux
- logística
- machine learning
- manipulación de alimento
- marketing
- mercadeo
- microservicio
- microsoft access
- microsoft excel
- microsoft office
- microsoft outlook
- microsoft powerpoint
- microsoft project
- microsoft word
- mysql
- negociación
- networking
- opir office
- oracle
- organización
- orientación al logro
- perl
- php
- planificación
- planificación de proyecto
- planificación estratégico
- postgresql
- presentación
- proceso de mejora
- proveedor
- python
- r
- reclutamiento
- recurso humano
- red
- red social
- redacción
- reporte
- resolución de conflicto
- resolución de problema
- retail
- salud
- salud ocupacional
- sap
- servicio al cliente
- servidores web
- software de contabilidade
- solari
- soporte al cliente
- spark
- sql server
- tecnología
- tecnología de el información
- test-driven development tdd
- testeir
- trabajo en equipo
- unix
- venta
- windows

In [25]:
gestion_planeacion = {
    'gestion', 'planificacion', 'proyecto', 'mejora', 'reporte', 'presupuesto', 'tiempo', 'equipo', 'cambio'
}

finanzas_contabilidad = {
    'finanza', 'contabilidad', 'registro contable', 'liquidacion', 'facturacion', 'conciliacion bancaria', 'costo'
}

auditoria_calidad = {
    'auditoria', 'auditoria interno', 'iso 9001', 'lean', 'lean manufacturing', 'lean six sigma'
}

recursos_humanos = {
    'recurso humano', 'psicologia', 'reclutamiento', 'personal'
}

logistica_operaciones = {
    'inventario', 'base dato', 'analisis', 'contabilizar'
}

desarrollo_tecnologia_empresarial = {
    'continuous deployment', 'test driven development'
}

lenguajes_bases_datos = {
    'python', 'r', 'sql', 'sql server', 'mysql', 'postgresql', 'oracle'
}

bi_visualizacion = {
    'power bi', 'pbi'
}

sistemas_operativos = {
    'linux', 'windows', 'unix'
}

microsoft_office = {
    'excel', 'word', 'powerpoint', 'access', 'outlook', 'office', 'project'
}

erp_crm = {
    'erp', 'crm'
}

gis_cad_diseno = {
    'arcgis', 'autocad', 'coreldraw'
}

web_programacion = {
    'javascript', 'jquery', 'php', 'wordpress'
}

adobe_suite = {
    'photoshop', 'illustrator', 'indesign', 'after effects', 'premiere'
}

otros_tech = {
    'openoffice', 'tecnologia', 'servidor', 'digitalizacion', 'software contabilidad'
}

big_data_procesamiento = {
    'elastic search', 'big data', 'spark', 'hadoop', 'impala', 'pentaho'
}

redes = {
    'red', 'red social', 'networking'
}

personales = {
    'adaptacion', 'autoconfianza', 'iniciativa', 'logro', 'organizacion', 'aprendizaje', 'creatividad',
    'innovacion', 'aceptacion error', 'ensenar'
}

interpersonales = {
    'comunicacion', 'persuasion', 'negociacion', 'conflicto', 'problema', 'presentacion', 'liderazgo', 'trabajo equipo'
}

comerciales_servicio = {
    'habilidad comercial', 'asesor comercial', 'consultor', 'soporte cliente', 'servicio cliente', 'atencion cliente',
    'atencion al cliente', 'direccion venta', 'comercio exterior', 'venta', 'mercadeo', 'marketing', 'relacion publica'
}

sectores_especificos = {
    'construccion', 'retail', 'inmobiliario', 'calidad', 'manipulacion alimento', 'salud', 'salud ocupacional'
}

otros_operativos = {
    'archivo', 'sistema', 'gestion', 'administracion', 'logistica', 'transporte', 'inspeccion'
}

idiomas = {
    "espanol", "ingles", "frances", "portugues", "aleman", "chino", "japones", "coreano",
    "ruso", "arabe", "hindi", "bengali", "italiano", "turco", "polaco", "neerlandes",
    "sueco", "noruego", "finlandes", "danes", "checo", "griego", "ucraniano", "hungaro",
    "tailandes", "vietnamita", "indonesio", "malayo"
}

In [26]:
categorias_skills = {
    'gestion_planeacion': gestion_planeacion,
    'finanzas_contabilidad': finanzas_contabilidad,
    'auditoria_calidad': auditoria_calidad,
    'recursos_humanos': recursos_humanos,
    'logistica_operaciones': logistica_operaciones,
    'desarrollo_tecnologia_empresarial': desarrollo_tecnologia_empresarial,
    'lenguajes_bases_datos': lenguajes_bases_datos,
    'bi_visualizacion': bi_visualizacion,
    'sistemas_operativos': sistemas_operativos,
    'microsoft_office': microsoft_office,
    'erp_crm': erp_crm,
    'gis_cad_diseno': gis_cad_diseno,
    'web_programacion': web_programacion,
    'adobe_suite': adobe_suite,
    'otros_tech': otros_tech,
    'big_data_procesamiento': big_data_procesamiento,
    'redes': redes,
    'personales': personales,
    'interpersonales': interpersonales,
    'comerciales_servicio': comerciales_servicio,
    'sectores_especificos': sectores_especificos,
    'otros_operativos': otros_operativos,
    'idiomas': idiomas,
}

In [ ]:
import pandas as pd
import re
import spacy
import unicodedata

# Cargar modelo de spaCy para español
nlp = spacy.load("es_core_news_sm")

# Normalización y lematización
def normalizar_lemmatizar(texto):
    if pd.isna(texto):
        return ""
    texto = str(texto).lower()
    texto = unicodedata.normalize('NFKD', texto).encode('ASCII', 'ignore').decode('utf-8')  # quitar tildes
    texto = re.sub(r"[^a-z0-9\s]", " ", texto)  # quitar signos de puntuación
    doc = nlp(texto)
    lemas = [token.lemma_ for token in doc if not token.is_stop]
    return " ".join(lemas)

# Aplicar lematización
df["description_lem"] = df["description"].apply(normalizar_lemmatizar)

# Palabras cortas que requieren búsqueda exacta
PALABRAS_CORTAS = {'r', 'sap', 'sql', 'erp', 'crm', 'php', 'arcgis'}

# Diccionario de categorías actualizado
categorias_skills = {
    'gestion_planeacion': gestion_planeacion,
    'finanzas_contabilidad': finanzas_contabilidad,
    'auditoria_calidad': auditoria_calidad,
    'recursos_humanos': recursos_humanos,
    'logistica_operaciones': logistica_operaciones,
    'desarrollo_tecnologia_empresarial': desarrollo_tecnologia_empresarial,
    'lenguajes_bases_datos': lenguajes_bases_datos,
    'bi_visualizacion': bi_visualizacion,
    'sistemas_operativos': sistemas_operativos,
    'microsoft_office': microsoft_office,
    'erp_crm': erp_crm,
    'gis_cad_diseno': gis_cad_diseno,
    'web_programacion': web_programacion,
    'adobe_suite': adobe_suite,
    'otros_tech': otros_tech,
    'big_data_procesamiento': big_data_procesamiento,
    'redes': redes,
    'personales': personales,
    'interpersonales': interpersonales,
    'comerciales_servicio': comerciales_servicio,
    'sectores_especificos': sectores_especificos,
    'otros_operativos': otros_operativos,
    'idiomas': idiomas,
}

# Función para detectar si alguna palabra clave está en el texto
def detectar_skills(texto, conjunto_skills):
    for skill in conjunto_skills:
        if skill in PALABRAS_CORTAS:
            if re.search(rf'\b{re.escape(skill)}\b', texto):
                return 1
        elif skill in texto:
            return 1
    return 0

# Crear columnas binarias para cada categoría
for categoria, conjunto in categorias_skills.items():
    df[categoria] = df["description_lem"].apply(lambda texto: detectar_skills(texto, conjunto))

In [28]:
# Total de valores nulos por columna
df.isna().sum()

url                                    0
title                                  0
company                                0
rating                               698
salary                               408
contract                               0
schedule                               0
description                            0
education                              0
experience                             0
age                                    0
skills                                 0
city                                   0
department                             0
category                               0
description_lem                        0
gestion_planeacion                     0
finanzas_contabilidad                  0
auditoria_calidad                      0
recursos_humanos                       0
logistica_operaciones                  0
desarrollo_tecnologia_empresarial      0
lenguajes_bases_datos                  0
bi_visualizacion                       0
sistemas_operativos                    0
microsoft_office                       0
erp_crm                                0
gis_cad_diseno                         0
web_programacion                       0
adobe_suite                            0
otros_tech                             0
big_data_procesamiento                 0
redes                                  0
personales                             0
interpersonales                        0
comerciales_servicio                   0
sectores_especificos                   0
otros_operativos                       0
idiomas                                0
dtype: int64

In [30]:
df.head(5)

,url,title,company,rating,salary,contract,schedule,description,education,experience,...,adobe_suite,otros_tech,big_data_procesamiento,redes,personales,interpersonales,comerciales_servicio,sectores_especificos,otros_operativos,idiomas
0,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de programación y datos - Medellín,Empleamos Temporales SAS,4.45,<NA>,de Obra o labor,Tiempo Completo,buscar talento programación análisis datosempl...,Universidad / Carrera tecnológica,1.0,...,0,0,0,0,0,0,0,0,0,0
1,https://co.computrabajo.com/ofertas-de-trabajo...,Analista Operaciones / Analista de datos,Corporación Interactuar,NaN,<NA>,a término indefinido,Tiempo Completo,"apasionado análisis dato , oferta corporación ...",Universidad / Carrera Profesional,1.0,...,0,0,0,0,1,0,0,0,1,0
2,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de datos / Analista BI // Manejo de i...,BRM S.A.S,4.24,4000000,a término indefinido,Tiempo Completo,"detective dato nato , capaz encontrar aguja co...",Universidad / Carrera Profesional,2.0,...,0,0,0,0,0,1,0,0,0,0
3,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de datos,Alianza Temporal S.A.S,4.31,2000000,de Obra o labor,Tiempo Completo,importante empresa sector logistico transporte...,Universidad / Carrera Profesional,3.0,...,0,0,0,0,0,0,0,0,1,0
4,https://co.computrabajo.com/ofertas-de-trabajo...,Analista de datos / Experiencia en facturación...,BRM S.A.S,4.24,2500000,a término indefinido,Tiempo Completo,gurú dato financiero obsesión exactitud factur...,Universidad / Carrera técnica,1.0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
import os

# Ruta relativa desde el notebook
output_path = os.path.join("..", "data", "clean_offers.csv")
df.to_csv(output_path, index=False, encoding='utf-8')